footer.footer
	.container
		a(href='#').footer__logo
				img(src='../img/logo-footer.png',alt='logo').footer__logo-img
				span.footer__logo-text ЭпплShop
		ul.footer-menu__list
			li.footer-menu__item
				.footer-menu__title О магазине
				ul.footer-menu__list-inner
					each items in ["О нас", "Наши цены", "Наши скидки", "Акции"]
						li.footer-menu__item-inner
							a.footer-menu__link(href="#")= items
			li.footer-menu__item
				.footer-menu__title Каталог
				ul.footer-menu__list-inner
					each items in ['Смартфоны', "Планшеты", "Компьютеры", "Аксессуары"]
						li.footer-menu__item-inner
							a.footer-menu__link(href="#")= items
			li.footer-menu__item
				.footer-menu__title Контакты
				ul.footer-menu__list-inner
					each items in ['Телефоны', "Адреса", "Карта проезда", "Обратная связь"]
						li.footer-menu__item-inner
							a.footer-menu__link(href="#")= items
		.footer-socials
			ul.footer-socials__app
					- var items = {'as' : 'App Store', 'gp' : 'Google Play'};
					each value, key in items
						li.footer-socials__app-item
							a(href="#" class="footer-socials__app-link footer-socials__app-link--" + key)= value
			ul.footer-socials__contacts
					- var items = {'vk' : 'vkontakte', 'fb' : 'facebook', 'tw' : 'twitter'};
					each value, key in items
						li.footer-socials__contacts-item
							a(href="#" class="footer-socials__contacts-link footer-socials__contacts-link--" + key)= value




// build:js js/vendor.min.js
// bower:js
script(src='/bower_components/jquery/jquery.js')
// endbower
// endbuild

// build:js js/main.min.js
script(src='js/main.js')
// endbuild